.App {
    width: 317px;
    height: 100vh;
    margin: auto;
}

/* Info section */

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.info img {
    width: 317px;
}