.App {
    width: 550px;
    height: auto;
    margin: 65px auto;
    padding: 45px 0;
    background: #23252c;
}

.wrapper {
    width: 317px;
    margin: auto;
    border-radius: 10px;
    background: #1a1b21;
}

/* Info section */

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.info img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.userInfo {
    text-align: center;
}

.name{
    font-size: 25px;
    font-weight: bold;
    color: white;
    line-height: 30px;
}