@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Urbanist:ital,wght@0,200;0,300;1,100;1,200;1,300&display=swap');
/* font-family: 'Source Sans Pro', sans-serif;
font-family: 'Urbanist', sans-serif; */
.App {
    width: 550px;
    height: auto;
    margin: 65px auto;
    padding: 45px 0;
    background: #23252c;
}

.wrapper {
    width: 317px;
    margin: auto;
    border-radius: 10px;
    background: #1a1b21;
}

/* Info section */

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.info img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.userInfo {
    text-align: center;
    margin: 21px 0 0 0;
}

.name{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    line-height: 30px;
}